# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv310/
env/

# VS Code settings
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.swp

# Sensitive files (DO NOT upload)
credentials.json
token.json

